.analytics,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-family: var(--font-inter);
}
.analytics {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 143px 320px 320px;
  box-sizing: border-box;
  gap: 51px;
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-normal);
  font-size: var(--fs-24);
  color: var(--color-white);
}
.frameParent {
  align-self: stretch;
  gap: var(--gap-19);
  max-width: 100%;
  font-size: var(--fs-32);
  color: var(--color-black);
}
.deliberationAnalyticsWrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 236px;
}
.deliberationAnalytics {
  width: 328px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
}
.mainContentWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 240px;
}
.mainContent {
  height: var(--height-56);
  flex: 1;
  position: relative;
}
.roundedRectangle {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-blue);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8);
  width: 100%;
  height: 100%;
}
.downloadReport {
  margin: 0;
  position: absolute;
  top: 17px;
  left: 61px;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
@media screen and (max-width: 800px) {
  .analytics {
    gap: 25px;
    padding-left: 160px;
    padding-right: 160px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .deliberationAnalyticsWrapper {
    padding-left: 118px;
    padding-right: 118px;
    box-sizing: border-box;
  }
  .deliberationAnalytics {
    font-size: var(--fs-26);
    line-height: var(--lh-28);
  }
  .mainContentWrapper {
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .analytics,
  .deliberationAnalyticsWrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .deliberationAnalytics {
    font-size: var(--fs-19);
    line-height: var(--lh-21);
  }
  .mainContentWrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
