.download,
.downloadContainerWrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.download {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 162px 320px 383px;
  gap: var(--gap-23);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-normal);
  text-align: center;
  font-size: var(--fs-24);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.downloadContainerWrapper {
  width: 746px;
  padding: var(--padding-0) 213px;
  max-width: 100%;
}
.downloadContainer {
  height: var(--height-56);
  flex: 1;
  position: relative;
}
.downloadIndicator {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-blue);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8);
  width: 100%;
  height: 100%;
}
.downloadZip {
  margin: 0;
  position: absolute;
  top: 14px;
  left: 83px;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
@media screen and (max-width: 675px) {
  .download {
    padding-left: 160px;
    padding-right: 160px;
    box-sizing: border-box;
  }
  .downloadContainerWrapper {
    padding-left: var(--padding-106);
    padding-right: var(--padding-106);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .download,
  .downloadContainerWrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
