.frameParent,
.venue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.venue {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 230px 451px 533px;
  box-sizing: border-box;
  gap: 19px;
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-normal);
  text-align: center;
  font-size: var(--fs-24);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frameParent {
  align-self: stretch;
  gap: var(--gap-30);
  max-width: 100%;
}
.pickTheCountyWhereTrialWiWrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 55px;
}
.pickTheCounty {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
}
.frameChild,
.rectangleParent {
  height: 130px;
  border-radius: var(--br-8);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: 56px 163px 54px;
  font-size: var(--fs-14);
  color: var(--color-slategray-100);
}
.frameChild {
  width: 537px;
  position: relative;
  display: none;
}
.searchCountyOr {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  z-index: 1;
}
.matchbtnWrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 100px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--fs-16);
  color: var(--color-white);
}
.matchbtn,
.matchbtnChild {
  border-radius: var(--br-8);
  background-color: var(--color-dodgerblue);
}
.matchbtn {
  display: flex;
  align-items: flex-start;
  padding: 19px 110px;
  cursor: pointer;
}
.matchbtnChild {
  height: var(--height-56);
  width: 320px;
  position: relative;
  display: none;
}
@media screen and (max-width: 750px) {
  .venue {
    padding-left: 225px;
    padding-right: 225px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .pickTheCountyWhereTrialWiWrapper {
    padding-left: 27px;
    padding-right: 27px;
    box-sizing: border-box;
  }
  .matchbtnWrapper,
  .rectangleParent {
    padding-left: 81px;
    padding-right: 81px;
    box-sizing: border-box;
  }
  .matchbtnWrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 450px) {
  .venue {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .pickTheCounty {
    font-size: var(--fs-19);
    line-height: 21px;
  }
  .matchbtn,
  .matchbtnWrapper,
  .rectangleParent {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
