.jurymanifest {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 118px 560px 400px;
  box-sizing: border-box;
  gap: 27.5px;
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-normal);
  text-align: center;
  font-size: var(--fs-24);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.yourMatchedJuryWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) 53px var(--padding-0) 54px;
}
.yourMatchedJury {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
}
.jurorgridWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) 24px;
}
.jurorgridIcon {
  height: 368px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}
.roundedRectangle,
.startDeliberation {
  border-radius: var(--br-8);
  background-color: var(--color-blue);
}
.startDeliberation {
  cursor: pointer;
  border: 0;
  padding: 21px 99px var(--padding-20);
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.startDeliberation:hover {
  background-color: var(--color-mediumblue);
}
.roundedRectangle {
  height: var(--height-56);
  width: 320px;
  position: relative;
  display: none;
}
.jurymanifestStartDeliberation {
  position: relative;
  font-size: var(--fs-14);
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
@media screen and (max-width: 725px) {
  .jurymanifest {
    padding-left: 280px;
    padding-right: 280px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .jurymanifest,
  .yourMatchedJuryWrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .yourMatchedJury {
    font-size: var(--fs-19);
    line-height: 21px;
  }
  .startDeliberation {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
