.landing {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 287px 383px 638px;
  box-sizing: border-box;
  gap: 6px;
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-normal);
  text-align: center;
  font-size: 34px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.testYourCase {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
}
.landingInner {
  width: 622px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) 151px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--fs-16);
  color: var(--color-white);
}
.rectangleParent {
  height: var(--height-56);
  flex: 1;
  position: relative;
}
.frameChild {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-dodgerblue);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8);
  width: 100%;
  height: 100%;
}
.uploadCase {
  position: absolute;
  top: 19px;
  left: 112px;
  letter-spacing: -0.02em;
  line-height: 110%;
  display: inline-block;
  min-width: 96px;
  z-index: 1;
}
@media screen and (max-width: 750px) {
  .landing {
    padding-left: 191px;
    padding-right: 191px;
    box-sizing: border-box;
  }
  .testYourCase {
    font-size: 27px;
    line-height: 30px;
  }
}
@media screen and (max-width: 675px) {
  .landingInner {
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .landing {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .testYourCase {
    font-size: 20px;
    line-height: 22px;
  }
  .landingInner {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
